-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../../includes/proyecto1/head
//-slide1
<section class="slide whiteSlide fade-6 kenBurns selected animate active l" data-title="Slide #16 (16)" data-name="slide-16-19c87e70">
    <div class="content ">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 left">
                            <p class="margin-bottom-3 font-size-12 uppercase weight-7 ae-1">
                                <img src="#{dir}../assets/svg/proyecto1/restaurant-pin.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12"/>
                                421 Amsterdam Ave, NYC
                            </p>
                            <h2 class="margin-bottom-3 large weight-7 ae-2">Local <i class="text-orange">family first</i> Restaurant in Little Italy, NYC</h2>
                            <p class="margin-bottom-4 ae-3">Neapolitans - is the family place, that follows traditions through the&nbsp;decades. Pizza, wine, parma and&nbsp;more.</p>
                            <a href="#" class=" crop margin-right-2 margin-right-phone-0 margin-bottom-phone-2 button text-black stroke flat round btn-132 ae-4"><span class="font-size-12 uppercase weight-7">Open menu</span></a>
                            <a href="#" class="crop flat button amber round btn-132 ae-5"><span class="font-size-12 uppercase weight-7">Place order</span></a>

                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-6-12">
                            <div class="videoThumbnail rounded shadow popupTrigger fromCenter margin-bottom-tablet-4 done" data-popup-id="16-16">
                                <img class="wide" src="#{dir}../assets/img/proyecto1/elements/restaurant-1.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
//-Slide 2
<section class="slide whiteSlide fade-6 kenBurns selected animate active" data-title="Slide #17 (17)" data-name="slide-17-87a736d1">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex noSpaces verticalCenter toLeft">
                        <li class="margin-bottom-phablet-5 col-3-12 col-tablet-6-12 col-phablet-1-2 padding-right-1 ae-1">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-2-1.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-2-1.jpg"alt="Picture"/>
                        </li>
                        <li class="margin-bottom-phablet-5 col-3-12 col-tablet-6-12 col-phablet-1-2 padding-left-1 ae-1">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-2-2.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-2-2.jpg" alt="Picture"/>
                        </li>
                        <li class="col-5-12 col-tablet-1-2 col-phablet-1-1 toRight">
                            <span class="crop button play small amber flat btn-133 disable-pointer-events ae-1"><svg class="noFill "><use href="#{dir}../assets/svg/proyecto1/icon-set.svg?p=K3pa7jkW#tableware"></use></svg></span>
                            <h2 class="margin-top-2 margin-bottom-2 ae-2">Little&nbsp;Italy <i class="weight-7 text-amber">is</i>&nbsp;Real&nbsp;Italy</h2>
                            <p class="margin-bottom-4 ae-3">Our restaurant is genuine food based on updated classic recipes, not alchemy, and the&nbsp;importance of using only the finest&nbsp;ingredients.</p>
                            <a href="#" class="crop button text-black stroke weight-7 flat restaurant-stroke-btn round ae-4"><span class="font-size-12 uppercase">Browse menu</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>
//-slide3
<section class="slide whiteSlide fade-6 kenBurns selected animate active" data-title="Slide #77 (77)" data-name="slide-77-43f78b24">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <ul class="margin-bottom-6 flex bottom">
                    <li class="margin-bottom-phablet-3 col-6-12 col-tablet-2-5 col-phablet-1-1">
                        <h1 class="crop smaller fromLeft ae-1">Food <i class="weight-7 text-green">and</i> Drinks</h1>
                    </li>
                    <li class="col-6-12 col-tablet-3-5 col-phablet-1-1">
                        <ul class="controller controller-134 align-right phablet-align-left fromRight" data-slider-id="slider-134">
                            <li class="inlineBlock margin-right-3 margin-bottom-phone-1 selected ae-2">
                                <p class="crop smallest uppercase weight-7">Pizza</p>
                            </li>
                            <li class="inlineBlock margin-right-3 margin-bottom-phone-1 ae-3">
                                <p class="crop smallest uppercase weight-7">Spaghetti</p>
                            </li>
                            <li class="inlineBlock margin-right-3 margin-bottom-phone-1 ae-4">
                                <p class="crop smallest uppercase weight-7">Wine card</p>
                            </li>
                            <li class="inlineBlock ae-5">
                                <p class="crop smallest uppercase weight-7">Other</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="fix-12-12">
                    <ul class="flex flex-77 fixedSpaces equal equalMobile align-left">
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1">
                            <a href="#" class="box-77 done">
                                <div class="swiper-slide equalElement padding-bottom-5 relative noText cursorGrab">
                                    <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-3-1.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-3-1.jpg " alt="Picture" class="margin-bottom-3"/>
                                    <h4 class="margin-bottom-2 small">Classic Margherita</h4>
                                    <p class="crop">Dough, San Marzano sauce, Pecorino Romano, Mozarella Di&nbsp;Buffalo.</p>
                                    <div class="absolute position-bottom wide">
                                        <h4 class="inlineBlock small middle crop largest bolder">$9.99 </h4>
                                        <p class="inlineBlock small middle crop margin-left-1">/ piece</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1">
                            <a class="box-77 done">
                                <div class="swiper-slide equalElement padding-bottom-5 relative noText cursorGrab">
                                    <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-3-2.jpg 2x" src="assets/img/template/restaurant-3-2.jpg" alt="Picture" class="margin-bottom-3"/>
                                    <h4 class="margin-bottom-2 small">Classic Marinara</h4>
                                    <p class="crop">Dough, San Marzano sauce, Pecorino Romano,&nbsp;Garlic.</p>
                                    <div class="absolute position-bottom wide">
                                        <h4 class="inlineBlock small middle crop largest bolder">$5.99 </h4>
                                        <p class="inlineBlock small middle crop margin-left-1">/ piece</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1">
                            <a href="#" class="box-77 done">
                                <div class="swiper-slide equalElement padding-bottom-5 relative noText cursorGrab">
                                    <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-3-3.jpg 2x" src="assets/img/template/restaurant-3-3.jpg" alt="Picture" class="margin-bottom-3"/>
                                    <h4 class="margin-bottom-2 small">Quattro Formaggi</h4>
                                    <p class="crop">Dough, Cream Sauce, Pecorino Romano, Mozarella Di&nbsp;Buffalo, Blue Cheese.</p>
                                    <div class="absolute position-bottom wide">
                                        <h4 class="inlineBlock small middle crop largest bolder">$19.99 </h4>
                                        <p class="inlineBlock small middle crop margin-left-1">/ piece</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1">
                            <a href="#" class="box-77 done">
                                <div class="swiper-slide equalElement padding-bottom-5 relative noText cursorGrab">
                                    <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-3-4.jpg 2x" src="assets/img/template/restaurant-3-4.jpg" alt="Picture" class="margin-bottom-3"/>
                                    <h4 class="margin-bottom-2 small">Five Meats</h4>
                                    <p class="crop">Dough, San Marzano sauce, Pecorino&nbsp;Romano, Meat.</p>
                                    <div class="absolute position-bottom wide">
                                        <h4 class="inlineBlock small middle crop largest bolder">$19.99 </h4>
                                        <p class="inlineBlock small middle crop margin-left-1">/ piece</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
//-slide4
<section class="slide whiteSlide light-bg">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse verticalCenter margin-bottom-9">
                        <li class="col-6-12">
                            <div class="fix-4-12">
                                <div class="restaurant-category-fresh round toCenter margin-bottom-2 ae-1">
                                    <p class="font-size-12 uppercase weight-7">
                                        <img src="#{dir}../assets/svg/proyecto1/restaurant-pizza.svg" class="margin-right-1 middle shift-up-2" alt="Pizza icon" width="16"/>
                                        Fresh recipe
                                    </p>
                                </div>
                                <h3 class="small margin-bottom-2 ae-2">Mushroom Margherita</h3>
                                <p class="ae-3">All the traditional way, but improved. Classic San Marzano sauce, buffalo?s&nbsp;mozarella, basilico and pecorino.&nbsp;Deliziosa!</p>
                            </div>
                        </li>
                        <li class="col-6-12 margin-bottom-0 margin-bottom-tablet-3">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-5-1.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-5-1.jpg" class="block wide ae-1" alt="Picture"/>
                        </li>
                    </ul>

                    <ul class="flex fixedSpaces verticalCenter">
                        <li class="col-6-12 margin-bottom-0 margin-bottom-tablet-3">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-5-2.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-5-2.jpg" class="block wide ae-4" alt="Picture"/>
                        </li>
                        <li class="col-6-12">
                            <div class="fix-4-12">
                                <div class="restaurant-category-quick round toCenter margin-bottom-2 ae-4">
                                    <p class="font-size-12 uppercase weight-7">
                                        <img src="#{dir}../assets/svg/proyecto1/restaurant-fire.svg" class="margin-right-1 middle shift-up-2" alt="Fire icon" width="14"/>
                                        Quick recipe
                                    </p>
                                </div>
                                <h3 class="small margin-bottom-2 ae-5">Mom?s Calzone</h3>
                                <p class="ae-6">We don't use any oil in the cooking&nbsp;process. Do you remember how it was done the old-fashioned&nbsp;way? Dough, cheese, and crudo in a wood-fired&nbsp;oven.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
//-slide5
<section class="slide whiteSlide light-gray-bg">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse verticalCenter margin-bottom-9">
                        <li class="col-6-12">
                            <div class="fix-4-12">
                                <div class="restaurant-category-blue round toCenter margin-bottom-2 ae-1">
                                    <p class="font-size-12 uppercase weight-7">
                                        <img src="#{dir}../assets/svg/proyecto1/restaurant-clock.svg" class="margin-right-1 middle shift-up-2" alt="Clock icon" width="16"/>
                                        Coming soon
                                    </p>
                                </div>
                                <h3 class="small margin-bottom-2 ae-2">Dough to Go</h3>
                                <p class="ae-3">Meet dough products that are ready to use in your&nbsp;kitchen. In the comfort of your own kitchen, make pizza, pasta, or even&nbsp;cannoli.</p>
                            </div>
                        </li>
                        <li class="col-6-12 margin-bottom-0 margin-bottom-tablet-3">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-6-1.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-6-1.jpg" class="block wide ae-1" alt="Picture"/>
                        </li>
                    </ul>

                    <ul class="flex fixedSpaces verticalCenter">
                        <li class="col-6-12 margin-bottom-0 margin-bottom-tablet-3">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-6-2.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-6-2.jpg" class="block wide ae-4" alt="Picture"/>
                        </li>
                        <li class="col-6-12">
                            <div class="fix-4-12">
                                <div class="restaurant-category-blue round toCenter margin-bottom-2 ae-4">
                                    <p class="font-size-12 uppercase weight-7">
                                        <img src="#{dir}../assets/svg/proyecto1/restaurant-clock.svg" class="margin-right-1 middle shift-up-2" alt="Clock icon" width="14"/>
                                        Coming soon
                                    </p>
                                </div>
                                <h3 class="small margin-bottom-2 ae-5">Recipe e-book</h3>
                                <p class="ae-6"> 20+ years of perfecting delightful meals&nbsp;that range from simple to complex without breaking the&nbsp;bank.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
//-slide6
<section class="slide whiteSlide fade-6 kenBurns animate active after" data-title="Slide #75 (75)" data-name="slide-75-1ca25e8a">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-8-12 toLeft">
                    <span class="crop trim button play small red flat disable-pointer-events restaurant-heart-btn ae-1">
                        <svg class="middle"><use href="#heart"></use></svg>
                    </span>
                    <h1 class="margin-top-2 margin-bottom-2 smaller ae-2">We <i class="text-red">love</i> catering  <span class="text-gray">&nbsp;#nyc #truepizza</span></h1>
                    <ul class="margin-bottom-6 flex noSpaces verticalCenter">
                        <li class="col-5-12 col-tablet-7-12 col-phablet-1-1">
                            <p class="crop ae-3">We always welcome our customers and the best feedback they can give is seeing their faces lit up with&nbsp;smiles.</p>
                        </li>
                        <li class="margin-top-phablet-3 col-2-12 col-tablet-1-3 col-phablet-1-1 toRight align-right phablet-align-left ae-4">
                            <p class="margin-bottom-1 smallest uppercase weight-7 opacity-5">follow US</p>
                            <a href="#" class="margin-right-2">
                                <svg width="18" height="18" fill="#ffffff"><use href="#instagram2"></use></svg>
                            </a>
                            <a href="#">
                                <svg width="18" height="18" fill="#ffffff"><use href="#twitter"></use></svg>
                            </a>
                        </li>
                    </ul>       </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-75 fixedSpaces popupTrigger noText done" data-popup-id="75-75">
                        <li class="col-3-12 fadeIn done">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-2.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="0" alt="Image">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-3.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="1" alt="Image">
                        </li>
                        <li class="col-3-12 fadeIn done">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-4.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image">
                        </li>
                        <li class="col-3-12 fadeIn done">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-5.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="3" alt="Image">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-6.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="4" alt="Image">
                        </li>
                        <li class="col-3-12 fadeIn done">
                            <img src="#{dir}../assets/img/proyecto1/elements/restaurant-7-7.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="5" alt="Image">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
//-slide7
<section class="slide whiteSlide fade-6 kenBurns animate active selected" data-title="Slide #46 (46)" data-name="slide-46-38020601">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-6-12 margin-bottom-6">
                  <span class="trim button play small deepOrange flat disable-pointer-events restaurant-team-btn ae-1">
                   <svg class="middle "><use href="#{dir}../assets/svg/proyecto1/icon-set.svg?p=K3pa7jkW#reward"></use></svg>
                  </span>
                    <h1 class="margin-bottom-1 smaller ae-2">Meet <i class="text-deepOrange">the</i>&nbsp;cheifs</h1>
                    <p class="crop large ae-3">We are so different, but united in making quality. Not&nbsp;only quality in food, but creating a great mood to our&nbsp;customers.</p>
                </div>
                <div class="fix-12-12">
                    <ul class="flex later equal left">
                        <li class="col-4-12 box-46">
                            <a href="#" class="button empty shadow rounded crop done"><img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-8-1.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-8-1.jpg" alt="Picture" class="margin-bottom-2 restaurant-image"/>
                            </a>
                            <h4 class="margin-bottom-1 smaller">Vitoro Del Torro</h4>
                            <p class="crop smallest uppercase weight-7 opacity-5">Grand Pizzaiolo</p>
                        </li>
                        <li class="col-4-12 box-46">
                            <div class="box-restaurant-team swiper-slide noText cursorGrab">
                                <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-8-2.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/restaurant-8-2.jpg" alt="Picture" class="margin-bottom-2" />
                                <h4 class="margin-bottom-1 smaller">Febrian Zakaria</h4>
                                <p class="crop smallest uppercase weight-7 opacity-5">Pasta God</p>
                            </div>
                        </li>
                        <li class="col-4-12 box-46">
                            <img srcset="#{dir}../assets/img/proyecto1/elements/restaurant-8-3.jpg 2x" src="#{dir}../assets/img/proyecto1/elements/restaurant-8-3.jpg" alt="Picture" class="margin-bottom-2" />
                            <h4 class="margin-bottom-1 smaller">Jordan Blond</h4>
                            <p class="crop smallest uppercase weight-7 opacity-5">Fish Maestro</p>
                        </li>


                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>
//slide 8
<section class="slide  whiteSlide kenBurns animate active after" data-title="Slide #61 (61)" data-name="slide-61-d5534bb3">
    <div class="content">
        <div class="fix-12-12">
            <ul class="flex fixedSpaces verticalCenter">
                <li class="col-6-12 left done">
                    <img class="wrap fromLeft ae-1" src="#{dir}../assets/img/proyecto1/elements/restaurant-9.jpg" data-action="zoom" width="1005" alt="Macbook Image">
                </li>
                <div class="wrap padding-top-tablet-6 padding-right-desktop-12">
                    <div class="fix-5-12 align-center restaurant-box-1">
                        <p class="margin-bottom-3 font-size-12 uppercase weight-7 ae-1">
                            <img src="#{dir}../assets/svg/proyecto1/restaurant-pin.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12"/>
                            421 Amsterdam Ave, New York, NY 10024
                        </p>
                        <h2 class="margin-bottom-4 larger weight-7 ae-2">The <i class="text-amber">family</i> place for&nbsp;everyone</h2>
                        <p class="margin-bottom-2 ae-3">Our doors are opened every day for our customers. Follow the flavors to find&nbsp;us.</p>
                        <p class="margin-bottom-4 ae-3">
                            Mon - Fri: 9:00 - 22:00<br>
                            Sat - Sun: 12:00 - 20:00
                        </p>
                        <a href="#" class="crop flat margin-right-2 margin-right-phone-0 margin-bottom-phone-2 button amber text-black round btn-132 ae-4"><span class="font-size-12 uppercase weight-7">Make a call</span></a>
                        <a href="#" class="crop button stroke flat round btn-132 ae-5"><span class="font-size-12 uppercase weight-7">Reserve now</span></a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>

script
    include ../../scripts/console.js


include ../../includes/proyecto1/footer