-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../../includes/proyecto2/head
//-slide1
<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap padding-bottom-6  fromCenter ae-1">
                <div class="table relative">
                    <div class="background art-gallery-heading-bg"><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-1.jpg" alt=""></div>
                    <div class="fix-10-12 cell">
                        <h1 class="art-gallery-heading  largest relative">Museum of Berlin Art <br>September 23</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
//-slide2

<section class="slide whiteSlide ">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12 margin-top-6">
                    <ul class="flex verticalCenter">
                        <li class="margin-bottom-phablet-3 col-6-12 col-tablet-1-2 col-phablet-1-1 align-left phablet-align-center fromLeft">
                            <div class="align-center inlineBlock"><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-2-1.jpg" alt=""></div>
                        </li>
                        <li class="col-6-12 left">
                            <h1 class="smallest margin-top-2">The Unknown Authors of Modern Rome&nbsp;Empire</h1>
                        </li>
                    </ul>
                </div>

                <div class="fix-12-12 margin-top-6">
                    <ul class="flex verticalCenter reverse">
                        <li class="col-6-12 left">
                            <h1 class="smallest margin-top-2">Missing Geniuses on the Streets of&nbsp;Melbourne</h1>
                        </li>
                        <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 align-right phablet-align-center fromRight">
                            <div class="align-center inlineBlock"><div class="img"><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-2-2.jpg" alt=""></div></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
//-slide3
<section class="slide whiteSlide  kenBurns selected active animate">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="slider clickable" data-slider-id="gallery">
                        <li class="selected"><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-3-1.jpg" class="wide" alt="Gallery"><h1 class="smallest margin-top-2 margin-top-desktop-4 margin-bottom-0 text-red ae-2">Paint on Paint / Sofia&nbsp;Palese</h1></li>
                        <li><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-3-2.jpg" width="1200" class="wide" alt="Gallery"><h1 class="smallest margin-top-2 margin-top-desktop-4 margin-bottom-0 text-red ae-2">Art Progress / J+B</h1></li>
                        <li><img src="#{dir}../assets/img/proyecto2/elements/art-gallery-3-3.jpg" width="1200" class="wide" alt="Gallery"><h1 class="smallest margin-top-2 margin-top-desktop-4 margin-bottom-0 text-red ae-2">Decompression Collection</h1></li>
                    </ul>
                    <nav class="side left sliderArrows pointer">
                        <div class="navigation">
                            <div class="cell">
                                <span data-slider-id="gallery" data-slider-action="prev"><svg class="sideArrow"><use href="#arrow-left"></use></svg></span>
                            </div>
                        </div>
                    </nav>
                    <nav class="side sliderArrows pointer">
                        <div class="navigation">
                            <div class="cell">
                                <span data-slider-id="gallery" data-slider-action="next"><svg class="sideArrow"><use href="#arrow-right"></use></svg></span>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}../assets/img/proyecto2/backgrounds/art-gallery-3.jpg)"></div>
</section>
//-slide4
<section class="slide  whiteSlide kenBurns animate active before" data-title="Slide #27 (27)" data-name="slide-27-a30070b8">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-11-12">
                    <ul class="flex verticalCenter">
                        <li class="col-5-12 cell-27">
                            <div class="fix-4-12">
                                <ul class="slider clickable fromAbove done" data-slider-id="27-27">
                                    <li class="selected"><img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-4-1.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-4-1.jpg" alt="Picture"/></li>
                                    <li class="hide"><img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-4-3.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-4-2.jpg" alt="Picture"/></li>
                                    <li class="hide"><img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-4-4.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-4-3.jpg" alt="Picture"/></li>
                                    <li class="hide"><img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-4-5.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-4-4.jpg" alt="Picture"/></li>
                                </ul>
                                <ul class="controller dots margin-top-3 fromCenter done" data-slider-id="27-27">
                                    <li class="dot selected"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-5-12 col-tablet-1-2 col-phablet-1-1 align-left toRight">
                            <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-4-2.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-4-2.jpg" alt="Picture" class="round fromRight ae-1" height="100" width="100"/>
                            <h1 class="margin-top-4 margin-bottom-4 smallest fromRight ae-2">Member Previews: Federico&nbsp;Eboncelli</h1>
                            <p class="crop large light opacity-5 fromRight ae-3 art-gallery-custom-line-height">The last day of every major exhibition is reserved just for members. Take advantage of&nbsp;a&nbsp;final opportunity to discover how Federico?s iconic photographs speak to the human condition and tell stories that continue to inspire us&nbsp;today.</p>
                            <h1 class="margin-top-4 smallest fromRight ae-4">Saturday <br>September&nbsp;20 <br>10:30&nbsp;AM - 6:00&nbsp;PM</h1>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#)"></div>
</section>
//slide5

<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap padding-top-6 padding-bottom-6">
                <div class="fix-12-12">
                    <ul class="flex reverse verticalCenter">

                        <li class="margin-bottom-phablet-3 col-6-12 col-tablet-1-2 col-phablet-1-1 align-left phablet-align-center fromLeft">
                            <div class="align-center inlineBlock">
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-5-1.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-5-1.jpg" alt="Picture" class="ae-2" data-action="zoom"/>
                                <h1 class="crop margin-top-4 smallest ae-1">Art Progress /&nbsp;J+B</h1>
                            </div>
                        </li>
                        <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 align-right phablet-align-center fromRight">
                            <div class="align-center inlineBlock">
                                <h1 class="margin-bottom-4 smallest ae-1">Simons? Dreams</h1>
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-5-2.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-5-2.jpg" alt="Picture" class="ae-2" data-action="zoom"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
//slide6
<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap padding-top-6 padding-bottom-6">
                <div class="fix-12-12">
                    <ul class="flex">
                        <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 align-left phablet-align-center fromRight">
                            <div class="align-center inlineBlock">
                                <h1 class="margin-bottom-4 smallest ae-1">Animals Collection</h1>
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-6-1.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-6-1.jpg" alt="Picture" class="ae-2" data-action="zoom"/>
                            </div>
                        </li>
                        <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 align-right phablet-align-center fromLeft">
                            <div class="align-center inlineBlock">
                                <h1 class="margin-bottom-4 smallest">&nbsp;</h1><!-- Empty space above the image -->
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-6-2.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-6-2.jpg" alt="Picture" class="ae-2" data-action="zoom"/>
                                <h1 class="crop margin-top-4 smallest ae-1">Decompression <br>Collection</h1>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
//slide7
<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap padding-top-6 padding-bottom-6">
                <div class="fix-12-12">
                    <h1 class="margin-bottom-4 smallest align-left phablet-align-center ae-1">Artwork Shop</h1>
                    <ul class="flex fixedSpaces bottom">
                        <li class="col-4-12 col-tablet-1-3 col-phablet-1-1">
                            <div class="margin-bottom-4 ae-2">
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-7-1.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-7-1.jpg" alt="Picture" class="margin-bottom-3 block wide" data-action="zoom" />
                                <h4 class="crop smaller margin-bottom-1">The Night Over the Lake</h4>
                                <p class="crop opacity-5">by <a class="underline">Federico Gavanski</a></p>
                            </div>
                            <div class="margin-bottom-phablet-4 ae-3">
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-7-2.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-7-2.jpg" alt="Picture" class="margin-bottom-3 block wide" data-action="zoom" />
                                <h4 class="crop smaller margin-bottom-1">Percentage Declined</h4>
                                <p class="crop opacity-5">by <a class="underline">Mia Levacci</a></p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-3 col-phablet-1-1">
                            <div class="margin-bottom-phablet-4 box-141-center ae-4">
                                <h4 class="crop smaller margin-bottom-1">Autumn Mood Savage</h4>
                                <p class="crop opacity-5">by <a class="underline">Pedro Huedro</a></p>
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-7-3.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-7-3.jpg" alt="Picture" class="margin-top-3 margin-top-phablet-0 margin-bottom-3 margin-bottom-phablet-2 block wide" data-action="zoom" />
                                <h4 class="crop smaller margin-bottom-1">&nbsp;</h4><!-- Empty space -->
                                <p class="crop opacity-5">&nbsp;</p><!-- Empty space -->
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-3 col-phablet-1-1 box-141-right">
                            <div class="margin-bottom-4 ae-5">
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-7-4.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-7-4.jpg" alt="Picture" class="margin-bottom-3 block wide" data-action="zoom" />
                                <h4 class="crop smaller margin-bottom-1">Morphium Inside Out</h4>
                                <p class="crop opacity-5">by <a class="underline">Emilio Bruno Jr.</a></p>
                            </div>
                            <div class="ae-6">
                                <img srcset="#{dir}../assets/img/proyecto2/elements/art-gallery-7-5.jpg 2x" src="#{dir}../assets/img/proyecto2/elements/art-gallery-7-5.jpg" alt="Picture" class="margin-bottom-3 block wide" data-action="zoom" />
                                <h4 class="crop smaller margin-bottom-1">No Aids, Only Gucci Plates</h4>
                                <p class="crop opacity-5">by <a class="underline">Iordana Fera</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


include ../../includes/prueba_wsp


script
    include ../../scripts/console.js


include ../../includes/proyecto2/footer