-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head
include ../includes/type

<!-- Section 1 (#03) -->
<section class="slide fade-6 kenBurns fadeGradient-blue-8" data-title="Slide #77 (78)" data-name="slide-78-23a06fe2">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-7-12 center margin-top-6 margin-bottom-5">
                    <i class="material-icons md-30 bottom text-white  fromTop">apple</i>
                    <i class="material-icons md-30 bottom text-gray  fromTop">apple</i>
                    <i class="material-icons md-30 bottom text-white  fromTop">apple</i>
                    <i class="material-icons md-30 bottom text-gray fromTop">apple</i>
                    <i class="material-icons md-30 bottom text-white  fromTop">apple</i>
                    <h2 class="h2 large roboto weight-9  fromTop" style="line-height: 1.25em"><span class="h1">Bootcamps</span>
                        <span class="typed_bootcamp roboto weight-1" style="margin-right: 5px"> </span>
                        <h2 class="h2 large">Conocimiento para <span class="typed"></span>
                        <span class="p smaller" style="margin-left: -5px"> 춽</span></h2>
                    </h2>
                    <h4 class="weight-7 roboto smaller  fromTop" style="margin-top: -10px">Desprogr치mate con estos Bootcamps</h4>
                    <p class="roboto smaller weight-4  opacity-9  fromTop">Matric칰late HOY e invierte en tu Futuro. Bootcamps con Salida Laboral Profesional, impartidas por expertos que ejercen laboralmente sus especialidades en la industria TI.</p>
                    <a href="#{dir}/proyecto1" class="button small blueGray rounded "><span class="material-icons md-18">work</span>Proyecto1</a>
                    <a href="#{dir}/proyecto2" class="button small blue rounded "><span class="material-icons md-18">work</span>Proyecto2</a>
                </div>
            </div>


        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/bootcamp-2.webp)"></div>
</section>

<!-- Section 2(#03) -->
<section class="slide  fade-6 kenBurns selected animate active whiteSlide" data-title="Slide #67 (67)" data-name="slide-67-a8d3c6b4">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-8-12 toCenter">
                    <object class="bg-bootcamp_2 icon-8 fromTop"></object>
                    <h2 class="ultraBold sourceSans fromTop margin-top-1">Bootcamps de Certificaci칩n<span class="p smaller weight-3" style="margin-left: 5px">춽</span></h2>
                    <p class="weight-3 opacity-6 fromTop small">Matric칰late HOY e invierte en tu Futuro. <span class="bold underline opacity-6">Sesiones 100% En Vivo con Salida Laboral Profesional</span>, impartidas por expertos que ejercen laboralmente sus especialidades en la industria TI, miembros expertos de nuestra comunidad.</p>                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex later fixedSpaces equal left">
                        <li class="col-4-12 fromCenter done">
                            <a href="#" class="box-67">
                                <div class="thumbnail-67 rounded">
                                    <img src="#{dir}assets/img/homepage/cards/ux-ui-design.png" class="wide">
                                </div>
                                <div class="name-67 equalElement table wide" style="height: 102px;">
                                    <div class="cell">
                                        <div class="hideForPhablet">
                                            <p class="smaller opacity-7 margin-bottom-0 weight-7 open-sans">MARZO 2023</p>
                                            <h6 class="smaller margin-bottom-0">UX/UI Design 춽 Bootcamp</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">24 Semanas de Capacitaci칩n</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">S치bados de 09:00 a 13:00 hrs</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-4-12 fromCenter done">
                            <a href="#" class="box-67">
                                <div class="thumbnail-67 rounded">
                                    <img src="#{dir}assets/img/homepage/cards/data-analysis.png" class="wide">
                                </div>
                                <div class="name-67 equalElement table wide" style="height: 102px;">
                                    <div class="cell">
                                        <div class="hideForPhablet">
                                            <p class="smaller opacity-7 margin-bottom-0 weight-7 open-sans">MARZO 2023</p>
                                            <h6 class="smaller margin-bottom-0">Data Analysis 춽 Bootcamp</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">24 Semanas de Capacitaci칩n</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">S치bados de 09:00 a 13:00 hrs</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-4-12 fromCenter done">
                            <a href="#" class="box-67">
                                <div class="thumbnail-67 rounded">
                                    <img src="#{dir}assets/img/homepage/cards/full-stack-javascript.png" class="wide">
                                </div>
                                <div class="name-67 equalElement table wide" style="height: 102px;">
                                    <div class="cell">
                                        <div class="hideForPhablet">
                                            <p class="smaller opacity-7 margin-bottom-0 weight-7 open-sans">MARZO 2023</p>
                                            <h6 class="smaller margin-bottom-0">Full Stack JavaScript 춽 Bootcamp</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">24 Semanas de Capacitaci칩n</h6>
                                            <h6 class="smaller margin-bottom-0 opacity-7">S치bados de 09:00 a 13:00 hrs</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style=""></div>
</section>

<!-- Section 3 (#03) -->
<section class="slide whiteSlide fade-6 kenBurns animate active before" data-title="Slide #74 (74)" data-name="slide-74-44761e8b">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <object class="bg-certify icon-8 fromTop"></object>
                <div class="fix-9-12">
                    <h2 class="ultraBold sourceSans fromTop">Portales de Certificaci칩n Nacional 游뻟릖</h2>
                    <p class="weight-3 opacity-6 fromTop small">Certifica, Documenta y Formaliza tus Conocimientos T칠cnicos Especializados para Trabajar en Empresas TI. Certificaciones Nacionales respaldadas por la direcci칩n de la comunidad programadores chile con m치s de 30.000 miembros activos. Haz click en las insignias para ir a los portales.</p>                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-74 fixedSpaces later equal">
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 fromCenter done">
                            <a href="#" class="">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/homepage/brands/ux-ui-design.png" class="wide" alt="Thumbnail">
                                </div>
                                <div class="name-74 equalElement table wide" style="height: 158.25px;">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1"></h4>
                                        <p class="small opacity-8 cropBottom"></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 fromCenter done">
                            <a href="#" class="">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/homepage/brands/data-analysis.png" class="wide" alt="Thumbnail">
                                </div>
                                <div class="name-74 equalElement table wide" style="height: 158.25px;">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1"></h4>
                                        <p class="small opacity-8 cropBottom"></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 fromCenter done">
                            <a href="#" class="">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/homepage/brands/full-stack-javascript.png" class="wide" alt="Thumbnail">
                                </div>
                                <div class="name-74 equalElement table wide" style="height: 158.25px;">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1"></h4>
                                        <p class="small opacity-8 cropBottom"></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 fromCenter done">
                            <a href="#" class="">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/homepage/brands/full-stack-net-core.png" class="wide" alt="Thumbnail">
                                </div>
                                <div class="name-74 equalElement table wide" style="height: 158.25px;">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1"></h4>
                                        <p class="small opacity-8 cropBottom"></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style=""></div>
</section>


<!-- Section 4 (#04) -->
<section class="slide whiteSlide selected active animate">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12">
                    <object class="bg-globe icon-8 fromTop"></object>
                    <h2 class="ultraBold sourceSans fromTop">Comunidades</h2>
                    <p class="weight-3 opacity-6 fromTop small">Certifica, Documenta y Formaliza tus Conocimientos T칠cnicos Especializados para Trabajar en Empresas TI. Certificaciones Nacionales respaldadas por la direcci칩n de la comunidad programadores chile con m치s de 30.000 miembros activos. Haz click en las insignias para ir a los portales.</p>
                </div>


                <div class="fix-8-12">
                    <div class="button small red sidebarTrigger" data-sidebar-id="default">Chile</div>
                    <div class="button small orange rounded sidebarTrigger" data-sidebar-id="small-sidebar">Colombia</div>
                    <div class="button small red rounded sidebarTrigger" data-sidebar-id="big-sidebar">Per칰</div><br>
                    <div class="button small lightGreen rounded sidebarTrigger" data-sidebar-id="position-left">Brasil</div>
                    <div class="button small green rounded sidebarTrigger" data-sidebar-id="position-top">Bolivia</div>
                    <div class="button small yellow rounded sidebarTrigger" data-sidebar-id="position-bottom">Venezuela</div><br>
                </div>

            </div>
        </div>
    </div>
</section>



script
    include ../scripts/console.js


include ../includes/footer

