
//- ::: include PUG/JS Functionality ::: -//

//- 1.Funciones Globales PUG [ Functions ]
include ../../functions/+global

//- 2.Variables Globales PUG [ Data ]
include ../../data/global
include ../../data/_category
include ../../data/_product

//- 3.Componentes Globales PUG [ Components ]
include ../../components/+mixins

//- 4.Plugins Globales PUG [ Plugins ]
include ../../plugins/libraries++



//- ::: Website HTML5 ::: -//
<!doctype html>
<html lang="es">


<head>

    //- Metadata
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    //-favicon
    //- <link rel="icon" type="image/png" sizes="16x16" href="#{dir}assets/img/favicon/favicon-16x16.png">
    //- Eyelash Title
    <title>????</title>

    //- CSS Styles [ Assets ]
    <link rel="stylesheet" href="#{dir}../assets/css/style.css">

    //- Jquery 3.5.6 [ Plugins ]
    -//<script type="text/javascript" src="#{dir}../assets/js/jquery.js" ></script>
    <!-- jQuery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    //-Slide 5.2.0
    <script type="text/javascript" src="#{dir}../assets/js/slides6.js" ></script>
    //-Plugins 5.2.0
    <script type="text/javascript" src="#{dir}../assets/js/plugins6.js" ></script>

    //- Global Functions JS [ Scripts ]
    <script type="text/javascript" src="#{dir}../assets/js/global.js" defer></script>




</head>

<body class="slides whiteSlide scroll animated noPreload firstSlide stage-1 ">

include ../../includes/proyecto1/navbar
//-include ../../includes/proyecto1/sidebar






